<!DOCTYPE html>
<html lang="en">
<head>
  <title>JJAPP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<body onload="getReportsOnPageLoad()"> 
<style>
.glyphicon.glyphicon-search {
    font-size: 75px;
}
</style> 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">JJ APP</a>
    </div>
    <ul class="nav navbar-nav">
		<li {{home_menu}}><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		<li {{ri_scores_menu}}><a href="/loan-int-management"><span class="glyphicon glyphicon-list-alt"></span> Loan Int Mgt</a></li>			
		<li {{reports_menu}}><a href="/reports"><span class="glyphicon glyphicon-print"></span> Reports</a></li>
		<li><a href="/jjapp-backup"><span class="glyphicon glyphicon-print"></span> Data Wrap</a></li>		
    </ul>
	
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>	
  </div>
</nav>



<div class="container-fluid">
    <div class="row">
			
		{% if error: %}			
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Danger!</strong> 	{% for item in error %}
				{% for s_key,s_value in item.items() %}
				<b>  {{s_key}}</b> : {{s_value}}<br>
				{% endfor %}				
				{% endfor %}
			</div>		
		</div>	
		{% endif %}	

		{% if input_success: %}			
		<div class="col-lg-12">
			<div class="alert alert-success alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success!</strong> 	{{input_success}}
			</div>		
		</div>	
		{% endif %}	

		{% if user_message: %}			
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Info! </strong> 	{{user_message}}
			</div>		
		</div>	
		{% endif %}			
				

	{% if file_list %}			
	<div class="col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Existing Backup Data</div>
		<div class="panel-body">
		<form  action="/test-area-remove" method="get">
			<table class="table table-bordered" id='ri-score-list-table'>							
				<thead>								
				<tr>
					<th>File Name</th>
				</tr>
				</thead>					
				<tbody>							
				{% for item in file_list %}
					<tr>
						<td>{{item}}</td>
					</tr>
				{% endfor %}
				</tbody>								
			</table>				
		</form>
		</div>
	</div>
	</div>	
	{% endif %}	 
				
			</div>	
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>	
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script>


$(document).ready(function() {

	$('#ri-score-list-table').DataTable({  "columns": [
    { "width": "18%" },
    { "width": "18%"},
    { "width": "18%"},
    { "width": "18%"},
    { "width": "18%"}
  ]});
} );	
</script>		
		
{% include 'footer_new.html' %}	