<!DOCTYPE html>
<html lang="en">
<head>
  <title>JJAPP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<body>  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">JJ APP</a>
    </div>
    <ul class="nav navbar-nav">
		<li {{home_menu}}><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		<li {{ri_scores_menu}}><a href="/loan-int-management"><span class="glyphicon glyphicon-list-alt"></span> Loan Int Mgt</a></li>			
		<li {{reports_menu}}><a href="/reports"><span class="glyphicon glyphicon-print"></span> Reports</a></li>
    </ul>
	
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>	
  </div>
</nav>
<script src="/static/js/riscoreEdit.js?version={{timestr}}"></script>
<link href="/static/css/jquery-ui.css" rel="stylesheet">
<style>
.ui-datepicker-trigger{
	position:relative;
	left:178px;
	bottom:28px;
}
</style>

<div class="container-fluid">
    <div class="row">			
		{% if error: %}			
			<div class="col-lg-12">
				<div class="alert alert-danger alert-dismissible fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Danger!</strong> 	
					{% for item in error %}
						{% for s_key,s_value in item.items() %}
						<b>  {{s_key}}</b> : {{s_value}}<br>
						{% endfor %}				
					{% endfor %}
				</div>		
			</div>	
		{% endif %}	

		{% if user_message: %}			
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Info! </strong> 	{{user_message}}
			</div>		
		</div>	
		{% endif %}					
			
			
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						DUE Update Form
					</div>
					<div class="panel-body">
						
	{% if editable_ri_score: %}			
			
	<form  action="/dues-update" id="ri_score_data_form" method="post">
	<input type="hidden" id="edit_id" name="edit_id" value="{{editable_ri_score._id}}" >
	
	<div class="col-md-2 text-left" style="padding-bottom:15px;">
	  <label for="biller">Biller*:</label>
	  <div>          
			<select class="form-control" id="biller" name="biller" required>
				<option value=""></option>					
				<option value="axis credit card" {% if  editable_ri_score.biller.lower()=="axis credit card": %} selected {% endif %}>AXIS Credit Card</option> 
				<option value="axis loan" {% if  editable_ri_score.biller.lower()=="axis loan": %} selected {% endif %}>AXIS Loan</option> 				
				<option value="bajaj loan" {% if  editable_ri_score.biller.lower()=="bajaj loan": %} selected {% endif %}>BAJAJ Loan</option> 				
				<option value="citi credit card" {% if  editable_ri_score.biller.lower()=="citi credit card": %} selected {% endif %}>CITI Credit Card</option> 							
				<option value="hdfc credit card" {% if  editable_ri_score.biller.lower()=="hdfc credit card": %} selected {% endif %}>HDFC Credit Card</option>
				<option value="hdfc loan" {% if  editable_ri_score.biller.lower()=="hdfc loan": %} selected {% endif %}>HDFC Loan</option>				
				<option value="hdfc cc loan" {% if  editable_ri_score.biller.lower()=="hdfc cc loan": %} selected {% endif %}>HDFC CC Loan</option>				
                <option value="house rent" {% if  editable_ri_score.biller.lower()=="house rent": %} selected {% endif %}>HOUSE Rent</option>
                <option value="house electricity" {% if  editable_ri_score.biller.lower()=="house electricity": %} selected {% endif %}>HOUSE Electricity</option>				
				<option value="daily expenses" {% if  editable_ri_score.biller.lower()=="daily expenses": %} selected {% endif %}>Daily Expenses</option>
			</select>				
		
	  </div>
	</div>		
		
	<div class="col-md-2 text-left" style="padding-bottom:15px;">
	  <label for="bill_amount">Due Amount*:</label>
	  <div>          
		<input type="number" class="form-control" id="bill_amount" name="bill_amount" min="0" step=".01" value="{{editable_ri_score.bill_amount}}" placeholder="Amount" required>
	  </div>				
	</div>			
		
	<div class="col-sm-2 text-left">
	  <label for="bill_date">Bill Date*:</label>
	  <div>          
		<input readonly type="text" size="17" class="form-control" id="bill_date" name="bill_date" value="{{bill_date}}" placeholder="Billing date" required>
	  </div>				
	</div>				

	<div class="col-sm-2 text-left">
	  <label for="due_date">Due Date*:</label>
	  <div><input readonly type="text" size="17" class="form-control" id="due_date" name="due_date" value="{{due_date}}" placeholder="Due Date" required>
	  </div>				
	</div>	
	
	<div class="col-sm-2 text-left" style="padding-bottom:15px;">
	  <label for="Status">Payment Status*:</label>
	  <div><select class="form-control" id="payment_status" name="payment_status" required>
				<option value=""></option>					
				<option value="paid" {% if editable_ri_score.payment_status.lower()=="paid": %} selected {% endif %}>PAID</option> 
				<option value="pending" {% if editable_ri_score.payment_status.lower()=="pending": %} selected {% endif %}>NOT PAID</option>
			</select>		
	  </div>
	</div>	
	
	
	<div class="col-md-2 text-left">        
	  <div>
		<button type="submit" id="add_result_submit" onClick="return validateRIScoreInputForm();" class="btn btn-success">Update</button>		
	  </div>	  
	</div>			
		
		</form>				
			
			{% else %}
				<div><p>Record Not Found</p></div>			
			{% endif %}	
			
			
				</div>
			</div>
		</div>			
	</div>  
</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script> 

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>	
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

<script>
function remove_this_tarea(tr_id){
	$('tr#'+tr_id+'').remove();
}
$(document).ready(function() {
	$('#ri-score-list-table').DataTable({  "columns": [
    { "width": "15%" },
    { "width": "15%"},
    { "width": "15%"},
    { "width": "10%"},	
    { "width": "10%"},	
    { "width": "15%","orderable": false }
  ],
"paging":   false,

"info":     false});
} );	
</script>	


{% include 'footer_new.html' %}	