
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script> 	
<script>
$( function() {
  
 		$( "#riscore_date" ).datepicker({
			showAnim: 'slide',
			showOn: "button",
			buttonImage: "/static/images/calendar.gif",
			buttonImageOnly: true,
			buttonText: "Select date",
			dateFormat: 'mm/dd/yy'		
		});	
 });
</script>
</body>

</html>
