{% if error: %}
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Danger!</strong> 	{% for item in error %}
				{% for s_key,s_value in item.items() %}
				<b>  {{s_key}}</b> : {{s_value}}<br>
				{% endfor %}				
				{% endfor %}
			</div>		
		</div>
{% else %}

<div class="col-lg-12">
	<div class="row">					
		<div class="col-lg-6">
		
			{% if component_wise %}									
				<div id="ddts_component_wise" style="min-width: 280px; height: 350px; margin: 0 auto"></div>
			{% else %}
				<div class="panel panel-default">
					<div class="panel-body">
						<h4><i class="fa fa-bar-chart" style="font-size:24px"></i> Dues Payment Status</h4>
						<span class="glyphicon glyphicon-search"></span> No records.
					</div>
				</div>								
			{% endif %}							

		</div>							
		
	</div>				
</div>
	
{% endif %}

<script type="text/javascript">

// Build the chart
Highcharts.chart('ddts_component_wise', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Dues Payment Status'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                },
                connectorColor: 'silver'
            }
        }
    },
    series: [{
        name: 'Share',
        data: {{component_wise | tojson}}
    }]
});


</script>
