<!DOCTYPE html>
<html lang="en">
<head>
  <title>JJAPP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<body>  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">JJ APP</a>
    </div>
    <ul class="nav navbar-nav">
		<li {{home_menu}}><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		<li {{ri_scores_menu}}><a href="/loan-int-management"><span class="glyphicon glyphicon-list-alt"></span> Loan Int Mgt</a></li>			
		<li {{reports_menu}}><a href="/reports"><span class="glyphicon glyphicon-print"></span> Reports</a></li>
		<li><a href="/jjapp-backup"><span class="glyphicon glyphicon-print"></span> Data Wrap</a></li>
    </ul>
	
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>	
  </div>
</nav>


<script src="/static/js/home.js?version={{timestr}}"></script>
<link href="/static/css/jquery-ui.css" rel="stylesheet">
<style>
.due-pending{
color:red;
}
.due-paid{
color:green;
}
</style>

<div class="container-fluid">
	<div class="row">			
		{% if error: %}			
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Danger!</strong> 	
				{% for item in error %}
					{% for s_key,s_value in item.items() %}
					<b>  {{s_key}}</b> : {{s_value}}<br>
					{% endfor %}				
				{% endfor %}
			</div>		
		</div>	
		{% endif %}	

		{% if input_success: %}			
		<div class="col-lg-12">
			<div class="alert alert-success alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success!</strong> 	{{input_success}}
			</div>		
		</div>	
		{% endif %}	

	{% if user_message: %}			
	<div class="col-lg-12">
		<div class="alert alert-danger alert-dismissible fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Info! </strong> 	{{user_message}}
		</div>		
	</div>	
	{% endif %}					
	
	
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-body">				

	<form  action="/home" id="ri_score_data_form" method="post">
	
	<div class="col-md-2 text-left" style="padding-bottom:15px;">
	  <label for="biller">Biller*:</label>
	  <div>          
			<select class="form-control" id="biller" name="biller" required>
				<option value=""></option>					
				<option value="axis credit card">AXIS Credit Card</option> 
				<option value="axis loan">AXIS Loan</option> 				
				<option value="bajaj loan">BAJAJ Loan</option> 				
				<option value="citi credit card">CITI Credit Card</option> 							
				<option value="hdfc credit card">HDFC Credit Card</option>
				<option value="hdfc loan">HDFC Loan</option>				
				<option value="hdfc cc loan">HDFC CC Loan</option>				
                <option value="house rent">HOUSE Rent</option>
                <option value="house electricity">HOUSE Electricity</option>
                <option value="daily expenses">Daily Expenses</option>				
			</select>				
		
	  </div>
	</div>		
		
	<div class="col-md-2 text-left" style="padding-bottom:15px;">
	  <label for="bill_amount">Due Amount*:</label>
	  <div>          
		<input type="number" class="form-control" id="bill_amount" name="bill_amount" min="0" step=".01" value="" placeholder="Amount" required>
	  </div>				
	</div>			
		
	<div class="col-sm-2 text-left">
	  <label for="bill_date">Bill Date*:</label>
	  <div>          
		<input readonly type="text" size="17" class="form-control" id="bill_date" name="bill_date" value="{{today_date}}" placeholder="Billing date" required>
	  </div>				
	</div>				

	<div class="col-sm-2 text-left">
	  <label for="due_date">Due Date*:</label>
	  <div>          
		<input readonly type="text" size="17" class="form-control" id="due_date" name="due_date" value="{{today_date}}" placeholder="Due Date" required>
	  </div>				
	</div>	
	
	<div class="col-sm-2 text-left" style="padding-bottom:15px;">
	  <label for="Status">Payment Status*:</label>
	  <div>          
			<select class="form-control" id="payment_status" name="payment_status" required>
				<option value=""></option>					
				<option value="paid" selected>PAID</option> 
				<option value="pending">NOT PAID</option>
			</select>				
		
	  </div>
	</div>	
	
	
	<div class="col-md-2 text-left">        
	  <div>
		<button type="submit" id="add_result_submit" onClick="return validateRIScoreInputForm();" class="btn btn-success">Submit</button>		
	  </div>	  
	</div>			
		
		</form>	
		
	
	
				</div>
			</div>
		</div>	
		
		
		
	<div class="col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-body">
			<table class="table table-bordered">							
				<thead>								
				<tr>
					<th>Payment Status</th>
					<th>Bill Amount</th>					
				</tr>
				</thead>					
				<tbody>							
				{% for item in dues_summary %}
				<tr>
					<td>{{item.payment}}</td>
					<td>{{item.bill_amount}}</td>
				</tr>						
				{% endfor %}
			
			</table>				
		</div>
	</div>
	</div>		

	<div class="col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-body">
			<table class="table table-bordered" id='dues-list-table'>							
				<thead>								
				<tr>
					<th>Biller</th>
					<th>Bill Amount</th>					
					<th>Status</th>
					<th>Due Date</th>
					<th>Actions</th>					
				</tr>
				</thead>					
				<tbody>							
				{% for item in dues_list %}
				<tr class="due-{{item.payment_status}}">
					<td>{{item.biller}}</td>
					<td>{{item.bill_amount}}</td>					
					<td>{{item.payment_status}}</td>
					<td>{{item.due_date}}</td>
					<td><a class='btn btn-success btn-sm' title='Edit' href="dues-edit?tid={{item['_id']}}"><span class='glyphicon glyphicon-edit' ></span></a>
					<a class='btn btn-danger btn-sm' title='Delete' href="dues-remove?del_id={{item['_id']}}"><span class='glyphicon glyphicon-trash' ></span></a>
					</td>
				</tr>						
				{% endfor %}
			
			</table>				
		</div>
	</div>
	</div>

		
	</div>
  
  
</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script> 

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>	
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

<script>
function remove_this_tarea(tr_id){
	$('tr#'+tr_id+'').remove();
}

$(document).ready(function() {

	$('#dues-list-table').DataTable({  "columns": [
    { "width": "20%" },
    { "width": "20%"},
    { "width": "20%"},
    { "width": "20%"},	
    { "width": "15%","orderable": false }
  ],
"paging":   false,

"info":     false});
} );	
</script>	


{% include 'footer_new.html' %}	