<!DOCTYPE html>
<html lang="en">
<head>
  <title>JJAPP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<body>  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">JJ APP</a>
    </div>
    <ul class="nav navbar-nav">
		<li {{home_menu}}><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		<li {{ri_scores_menu}}><a href="/loan-int-management"><span class="glyphicon glyphicon-list-alt"></span> Loan Int Mgt</a></li>			
		<li {{reports_menu}}><a href="/reports"><span class="glyphicon glyphicon-print"></span> Reports</a></li>
    </ul>
	
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>	
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
			
		{% if error: %}			
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Danger!</strong> 	{% for item in error %}
				{% for s_key,s_value in item.items() %}
				<b>  {{s_key}}</b> : {{s_value}}<br>
				{% endfor %}				
				{% endfor %}
			</div>		
		</div>	
		{% endif %}	

		{% if input_success: %}			
		<div class="col-lg-12">
			<div class="alert alert-success alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success!</strong> 	{{input_success}}
			</div>		
		</div>	
		{% endif %}	

		{% if user_message: %}			
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Info! </strong> 	{{user_message}}
			</div>		
		</div>	
		{% endif %}					
			
	{% if loan_int_list %}			
	<div class="col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Every month interest from existing loans</div>
		<div class="panel-body">
		<form  action="/test-area-remove" method="get">
			<table class="table table-bordered" id='test-area-list-table'>							
				<thead>								
				<tr>
					<th>Bank Issuer</th>
					<th>Princi O/S</th>	
					<th>Last Updated</th>						
					<th>ROI</th>
					<th>Int to be paid</th>
				</tr>
				</thead>					
				<tbody>							
				{% for item in loan_int_list %}
				<tr>
					<td>{{item.issuer}}</td>
					<td>{{item.p_os}} <a class='btn btn-success btn-sm' title='Edit' href="loan-details-edit?tid={{item['_id']}}"><span class='glyphicon glyphicon-edit' ></span></a> </td>					
					<td>{{item.updated_on}}</td>
					<td>{{item.roi}}</td>					
					<td>{{item.int_for_next_month}}</td>
				</tr>						
				{% endfor %}
				<tr>
					<td>&nbsp;</td>
					<td>{{p_os_total}}</td>					
					<td>&nbsp;</td>
					<td>&nbsp;</td>					
					<td>{{int_month_total}}</td>
				</tr>				
			</table>				
		</form>
		</div>
	</div>
	</div>	
	{% endif %}	 
				
			</div>	
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>	
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script>
function validateTestareaForm() {

	var test_area = document.getElementsByName('test_area')[0].value;
	var user_id = document.getElementsByName('user_id')[0].value;
	
    if(test_area.trim()!="" && user_id.trim()!="") {
		return true;
    }else{
	    alert("Please fill mandatory fields.")
        document.getElementById('test_area').style.borderColor="#FF5733";
		return false;	
	}
}


$(document).ready(function() {

	$('#test-area-list-table').DataTable({  "columns": [
    { "width": "90%" },
    { "width": "5%","orderable": false },
    { "width": "5%","orderable": false }
  ]});
} );	
</script>		
		
{% include 'footer_new.html' %}		