<!DOCTYPE html>
<html lang="en">
<head>
  <title>JJAPP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<body onload="getReportsOnPageLoad()"> 
<style>
.glyphicon.glyphicon-search {
    font-size: 75px;
}
</style> 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">JJ APP</a>
    </div>
    <ul class="nav navbar-nav">
		<li {{home_menu}}><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		<li {{ri_scores_menu}}><a href="/loan-int-management"><span class="glyphicon glyphicon-list-alt"></span> Loan Int Mgt</a></li>			
		<li {{reports_menu}}><a href="/reports"><span class="glyphicon glyphicon-print"></span> Reports</a></li>
		<li><a href="/jjapp-backup"><span class="glyphicon glyphicon-print"></span> Data Wrap</a></li>		
    </ul>
	
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>	
  </div>
</nav>



<div class="container-fluid">				 

	<div class="row">

		{% if error: %}			
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Danger!</strong> 	{% for item in error %}
				{% for s_key,s_value in item.items() %}
				<b>  {{s_key}}</b> : {{s_value}}<br>
				{% endfor %}				
				{% endfor %}
			</div>		
		</div>
		{% else %}
		
		<div class="col-lg-12" style="padding-top:5px;">
			<div class="panel panel-default">
				<div class="panel-body">
						
			<form  action="/reports" method="post">
		
				<div class="col-md-3 text-left" style="padding-bottom:15px;">
				  <label for="Biller">Biller*:</label>
				  <div>          
						<select class="form-control" id="biller" name="biller" required>
							<option value=""></option>					
							<option value="axis credit card">AXIS Credit Card</option> 
							<option value="axis loan">AXIS Loan</option> 				
							<option value="bajaj loan">BAJAJ Loan</option> 				
							<option value="citi credit card">CITI Credit Card</option> 							
							<option value="hdfc credit card">HDFC Credit Card</option>
							<option value="hdfc loan">HDFC Loan</option>				
							<option value="hdfc cc loan">HDFC CC Loan</option>				
							<option value="house rent">HOUSE Rent</option>
							<option value="house electricity">HOUSE Electricity</option>
							<option value="daily expenses">Daily Expenses</option>				
						</select>						
						
					
				  </div>
				</div>	
				
			<div class="col-md-3 text-left">        
			  <div style="padding-top:25px;">
				<button id="add_result_submit" onClick="return getReportsAjax();" class="btn btn-success">GET BILL</button>		
				
			  </div>	  
			</div>					
				
			</form>	
						
						
			</div>
		</div>
	</div>
{% endif %}				
<!-- After Search Form -->
<!-- First row container -->

    <div id="reports_container">
	
	</div> <!-- End : reports_container -->
			
				
			</div>	
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		
<script src="/static/js/jquery.dataTables.min.js"></script>	
<script src="/static/js/dataTables.bootstrap.min.js"></script>	

<script src="/static/js/highcharts/highcharts.js"></script>
<script src="/static/js/highcharts/exporting.js"></script>
<script src="/static/js/highcharts/export-data.js"></script>
<script src="/static/js/highcharts/no-data-to-display.js"></script> 
 
<script src="/static/js/reports_new.js?version={{timestr}}"></script> 
<script src="/static/js/trend_chart_group.js?version={{timestr}}"></script>		


<script type="text/javascript">

// Radialize the colors
Highcharts.setOptions({
    colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    })
});

</script>


<script>
$(document).ready(function() {

$("#platform").change(function () {

	var selectedVersion = $("#version option:selected").val();
	var selectedSub_version = $("#sub_version option:selected").val();	

	platform_value = $(this).val();
	if(platform_value=="all"){
			if(selectedVersion=="all"){
				$('#version').prop('selectedIndex',0);
			}else{
				$("#version").children("option[value='all']").hide();
			}	
	
			if(selectedSub_version=="all"){
				$('#sub_version').prop('selectedIndex',0);
			}else{
				$("#sub_version").children("option[value='all']").hide();
			}	

	}else{
		$("#version").children("option[value='all']").show();
		$("#sub_version").children("option[value='all']").show();	
	}
})
$("#version").change(function () {

	var selectedPlatform = $("#platform option:selected").val();
	var selectedSub_version = $("#sub_version option:selected").val();	
	//alert("selected Platform- " + selectedPlatform);
	version_value = $(this).val();
	if(version_value=="all"){
			if(selectedPlatform=="all"){
				$('#platform').prop('selectedIndex',0);
			}else{
				$("#platform").children("option[value='all']").hide();
			}	
	}else{
			if(selectedSub_version=="all"){
				$('#platform').prop('selectedIndex',0);
			}else{
				$("#platform").children("option[value='all']").show();
			}		
	}
})
$("#sub_version").change(function () {

	var selectedPlatform = $("#platform option:selected").val();
	var selectedVersion = $("#version option:selected").val();

	sub_version_value = $(this).val();
	if(sub_version_value=="all"){
			if(selectedPlatform=="all"){
				$('#platform').prop('selectedIndex',0);
			}else{
				$("#platform").children("option[value='all']").hide();
			}
	}else{
			if(selectedVersion=="all" && selectedPlatform=="all"){
				$('#platform').prop('selectedIndex',0);
			}else{
				$("#platform").children("option[value='all']").show();
			}
	}

})
  
  
} );	
</script>


<script type="text/javascript">

function getReportsAjax(){
    $("#reports_container").html("");
	var biller = document.getElementById("biller").value;
    alert(biller);
    $("#reports_container").html('Please wait...<img src="/static/images/loading-gears.gif">');
    if(biller.trim()=="") {
	    $("#reports_container").html('<div class="col-lg-12"><div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Danger! </strong> Please give at least one input to search.</div></div>');
		return false;	
    }else{	
		$("#biller").attr("disabled",true);	
		$("#add_result_submit").attr("disabled",'disabled');	
			
		$("#reports_container").html('<div style="padding-left:400px;align:center;"><p>Please wait...<img src="/static/images/loading-gears.gif"></p></div>');		
		$.ajax({
			url: '/getReportsAjax',
			data: 'biller='+biller.trim(),
			type: 'POST',
			success: function(response){
			
				$("#reports_container").html(response);				
				$("#biller").attr("disabled",false);	
				$("#add_result_submit").attr("disabled", false);		
			},
			error: function(error) {
				console.log(error);
				$("#reports_container").html("<br>"+error);			
			}
		});
	}
	
}

function getReportsOnPageLoad(){
	$("#biller").attr("disabled",true);		
	$("#add_result_submit").attr("disabled",'disabled');
	$("#reports_container").html('<div style="padding-left:400px;align:center;"><p>Please wait...<img src="/static/images/loading-gears.gif"></p></div>');		
	$.ajax({
		url: '/getReportsAjax',
		data: 'biller=all',
		type: 'POST',
		success: function(response){		
			$("#reports_container").html(response);			
			$("#biller").attr("disabled",false);
			$("#add_result_submit").attr("disabled", false);		
		},
		error: function(error) {
			console.log(error);
			$("#reports_container").html("<br>"+error);			
		}
	});	
}

</script>		

{% include 'footer_new.html' %}		