{% include 'header_new.html' %}	
<script src="/static/js/riscoreEdit.js?version={{timestr}}"></script>
<link href="/static/css/jquery-ui.css" rel="stylesheet">
<style>
.ui-datepicker-trigger{
	position:relative;
	left:178px;
	bottom:28px;
}
</style>

<div class="container-fluid">
    <div class="row">			
		{% if error: %}			
			<div class="col-lg-12">
				<div class="alert alert-danger alert-dismissible fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Danger!</strong> 	
					{% for item in error %}
						{% for s_key,s_value in item.items() %}
						<b>  {{s_key}}</b> : {{s_value}}<br>
						{% endfor %}				
					{% endfor %}
				</div>		
			</div>	
		{% endif %}	

		{% if user_message: %}			
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Info! </strong> 	{{user_message}}
			</div>		
		</div>	
		{% endif %}					
			
			
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						RI Score Update Form
					</div>
					<div class="panel-body">
						
			{% if editable_ri_score: %}
			
			<form  action="/ri-score-update" id="ri_score_data_form" method="post">
				<input type="hidden" id="edit_id" name="edit_id" value="{{editable_ri_score._id}}" >		
			
				<div class="col-md-3 text-left" style="padding-bottom:15px;">
				  <label for="platform">Platform*:</label>
				  <div>          
						<select class="form-control" id="platform" name="platform" required>
							<option value=""></option>					
							<option value="asr9k cxr" {% if  editable_ri_score.platform.lower()=="asr9k cxr": %} selected {% endif %}>ASR9K cXR</option> 
							<option value="asr9k exr" {% if  editable_ri_score.platform.lower()=="asr9k exr": %} selected {% endif %}>ASR9K eXR</option>
							<option value="skywarp" {% if  editable_ri_score.platform.lower()=="skywarp": %} selected {% endif %}>Skywarp</option>
							<option value="tetley" {% if  editable_ri_score.platform.lower()=="tetley": %} selected {% endif %}>Tetley</option>							
							<option value="fretta" {% if  editable_ri_score.platform.lower()=="fretta": %} selected {% endif %}>Fretta</option>
							<option value="ncs6k" {% if  editable_ri_score.platform.lower()=="ncs6k": %} selected {% endif %}>NCS6K</option>
							<option value="crs" {% if  editable_ri_score.platform.lower()=="crs": %} selected {% endif %}>CRS</option>
							<option value="rosco" {% if  editable_ri_score.platform.lower()=="rosco": %} selected {% endif %}>Rosco</option>							
						</select>				
					
				  </div>
				</div>				

				
				<div class="col-md-2 text-left">
				  <label for="version">Version*:</label> 
				  <div> 
					<select class="form-control" id="version" name="version" required>
						<option value=""></option>					
						<option value="641" {% if  editable_ri_score.version.lower()=="641": %} selected {% endif %}>641</option> 
						<option value="642" {% if  editable_ri_score.version.lower()=="642": %} selected {% endif %}>642</option> 
						<option value="633" {% if  editable_ri_score.version.lower()=="633": %} selected {% endif %}>633</option> 
						<option value="651" {% if  editable_ri_score.version.lower()=="651": %} selected {% endif %}>651</option> 
						<option value="701" {% if  editable_ri_score.version.lower()=="701": %} selected {% endif %}>701</option> 
						<option value="711" {% if  editable_ri_score.version.lower()=="711": %} selected {% endif %}>711</option> 							
					</select>					
				  </div>
				</div>

				<div class="col-md-2 text-left">
				  <label for="sub_version">Sub-Version*: ( {{editable_ri_score.sub_version}} )</label><br>
				  <div>
					<select class="form-control" id="sub_version" name="sub_version" required> 
						<option value=""></option> 
						{% for item in range(41): %}
							{% if item > 0: %}
								<option value="{{item}}i">{{item}}I</option>								
							{% endif %}
						{% endfor %}						
					</select>					
				  </div>
				</div>	
				
			<div class="col-md-2 text-left" style="padding-bottom:15px;">
			  <label for="ri_score">RI Score*:</label>
			  <div>          
				<input type="number" class="form-control" id="ri_score" name="ri_score" min="0" max="10" step=".01" value="{{editable_ri_score.score}}" placeholder="RI Score" required>
			  </div>				
			</div>				
			
				
				<div class="col-md-3 text-left">
				  <label for="riscore_date">Date*:</label>
				  <div>          
					<input readonly type="text" size="17" class="form-control" id="riscore_date" name="riscore_date" value="{{riscore_date}}" placeholder="Date of report" required>
				  </div>				
				</div>				

				
		
			<div class="col-md-12">
				<table class="table table-bordered">
				<thead><tr><th>Test Area</th><th>CDETS</th><th>Comments</th><th>Score</th><th>Action</th></tr></thead>
				<tbody>
					{% for item in editable_ri_score.test_area %}
					
					<tr id="tarea_{{loop.index}}"><td><input type="text" class="form-control" id="test_area" name="test_area[]" value="{{item['test_area']}}" readonly></td>
					<td><span id="cdets_error" style="color: Red; display: none"><br>* Special Characters not allowed</span>
						<span id="cdets_api_result" style="color: Red;"></span>			  
						<div><input type="text" class="form-control" id="cdets_{{item['test_area']}}" name="cdets_{{item['test_area']}}" value="{{item['cdets']}}" placeholder="BUGID1;BUGID2"></div>
					</td>
					<td><textarea rows="3" cols="25" class="form-control" id="comments_{{item['test_area']}}" name="comments_{{item['test_area']}}" placeholder="Please specify more details of failure">{{item['comments']}}</textarea></td>
					<td><input type="number" class="form-control" id="score_{{item['test_area']}}" name="score_{{item['test_area']}}" value="{{item['score']}}" min="1" max="10" step=".01"></td>
					<td><a class='btn btn-danger btn-sm' title='Delete' href="javascript:void(0)" onClick="remove_this_tarea('tarea_{{loop.index}}');"><span class='glyphicon glyphicon-trash' ></span> Trash</a></td>					
				
					</tr>						
					{% endfor %}
				</tbody>
				</table>
			</div>				
		

			<div class="col-md-6 text-left" style="padding-bottom:15px;">
			  <label for="attribute">Attribute:</label> 
			  <div>          
				<input type="text" class="form-control" id="attribute" name="attribute" value="{{editable_ri_score.attribute}}" placeholder="Attribute">
			  </div>				
			</div>			
					

			<div class="col-md-6 text-left" style="padding-bottom:15px;">
			  <label for="sub_attribute">Sub-attribute :</label>
			  <div>          
				<input type="text" class="form-control" id="sub_attribute" name="sub_attribute" value="{{editable_ri_score.sub_attribute}}" placeholder="Sub-attribute">
			  </div>				
			</div>			

	
			
			<div class="col-md-12 text-left" style="padding-bottom:15px;">
			  <label for="Scrubber-link">Scrubber-link:</label>
			  <div>          
				<input type="url" class="form-control" id="scrubber_link" name="scrubber_link" value="{{editable_ri_score.scrubber_link}}" placeholder="Scrubber-link">
			  </div>				
			</div>	
			

			<div class="col-md-12 text-left" style="padding-bottom:15px;">
			  <label for="cafy_link">Cafy-link:</label>
			  <div>          
				<input type="url" class="form-control" id="cafy_link" name="cafy_link" value="{{editable_ri_score.cafy_link}}" placeholder="Cafy-link">
			  </div>				
			</div>	
			
			<div class="col-md-6 text-left">        
			  <div>
				<button type="submit" id="add_result_submit" onClick="return validateRIScoreInputForm_Update();" class="btn btn-success">Update</button>
				<span style="margin: 0px; padding: 0px; background: #ffffff; color: #e74c3c; box-shadow: 0px 0px; border: 0px solid #e74c3c;"><b><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Note: </b> All the fields marked as (*) are mandatory </span>
			  </div>	  
			</div>					
				
				</form>	
			{% else %}
				<div><p>Record Not Found</p></div>			
			{% endif %}	
			
			
				</div>
			</div>
		</div>			
	</div>  
</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script> 

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>	
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

<script>
function remove_this_tarea(tr_id){
	$('tr#'+tr_id+'').remove();
}
$(document).ready(function() {
	$('#ri-score-list-table').DataTable({  "columns": [
    { "width": "15%" },
    { "width": "15%"},
    { "width": "15%"},
    { "width": "10%"},	
    { "width": "10%"},	
    { "width": "15%","orderable": false }
  ],
"paging":   false,

"info":     false});
} );	
</script>	


{% include 'footer_new.html' %}	