{% include 'header_new.html' %}	
<script src="/static/js/home.js?version={{timestr}}"></script>

<link href="../static/css/jquery-ui.css" rel="stylesheet">
<style>
.ui-datepicker-trigger{position:relative;left:178px;bottom:28px;}
</style>

<div class="container-fluid">


            <div class="row">
			
				{% if error: %}			
				<div class="col-lg-12">
					<div class="alert alert-danger alert-dismissible fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Danger!</strong> 	
						{% for item in error %}
							{% for s_key,s_value in item.items() %}
							<b>  {{s_key}}</b> : {{s_value}}<br>
							{% endfor %}				
						{% endfor %}
					</div>		
				</div>	
				{% endif %}	

				{% if input_success: %}			
				<div class="col-lg-12">
					<div class="alert alert-success alert-dismissible fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Success!</strong> 	{{input_success}}
					</div>		
				</div>	
				{% endif %}	

			{% if user_message: %}			
			<div class="col-lg-12">
				<div class="alert alert-danger alert-dismissible fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Info! </strong> 	{{user_message}}
				</div>		
			</div>	
			{% endif %}					
			
			
                <div class="col-lg-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            RI Score Input Form
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
						
			{% if test_areas_list.count() > 0 %}
			
			<form  action="/home" id="ri_score_data_form" method="post">
		
			
				<div class="col-md-3 text-left" style="padding-bottom:15px;">
				  <label for="platform">Platform*:</label>
				  <div>          
						<select class="form-control" id="platform" name="platform" required>
							<option value="">Select Platform</option>					
							<option value="asr9k">ASR9K</option> 
							<option value="ncs4k">NCS4K</option>
							<option value="ncs5k">NCS5K</option>
							<option value="ncs6k">NCS6K</option>
						</select>				
					
				  </div>
				</div>				

				
				<div class="col-md-2 text-left">
				  <label for="version">Version*:</label> 
				  <div>          
					<input type="text" class="form-control" id="version" name="version" value="" placeholder="Eg: 6.1.3" required>
				  </div>
				</div>

				<div class="col-md-2 text-left">
				  <label for="sub_version">Sub-Version*:</label>
				  <div>          
					<input type="text" class="form-control" id="sub_version" name="sub_version" value="" placeholder="Eg: 01I" required>
				  </div>
				</div>	
				
			<div class="col-md-2 text-left" style="padding-bottom:15px;">
			  <label for="ri_score">RI Score*:</label>
			  <div>          
				<input type="number" class="form-control" id="ri_score" name="ri_score" min="0" max="10" step=".01" value="" placeholder="RI Score" required>
			  </div>				
			</div>				
			
				
				<div class="col-md-3 text-left">
				  <label for="riscore_date">Date*:</label>
				  <div>          
					<input readonly type="text" size="17" class="form-control" id="riscore_date" name="riscore_date" value="{{today_date}}" placeholder="Date of report" required>
				  </div>				
				</div>				

				
		
			<div class="col-md-12">
				<table class="table table-bordered">
				<thead><tr><th>Test Area</th><th>CDETS</th><th>Comments</th><th>Score</th></tr></thead>
				<tbody>
					{% for item in test_areas_list %}
					
					<tr><td>{{item.test_area}}</td>
					<td><span id="cdets_error" style="color: Red; display: none"><br>* Special Characters not allowed</span>
						<span id="cdets_api_result" style="color: Red;"></span>			  
						<div><input type="text" class="form-control" id="cdets_{{item._id}}" name="cdets_{{item._id}}" value="" placeholder="BUGID1;BUGID2"></div>
					</td>
					<td><textarea rows="3" cols="25" class="form-control" id="comments_{{item._id}}" name="comments_{{item._id}}" placeholder="Please specify more details of failure"></textarea></td>
					<td><input type="number" class="form-control" id="score_{{item._id}}" name="score_{{item._id}}" value="" min="1" max="10" step=".01"></td></tr>						
					{% endfor %}
				</tbody>
				</table>
			</div>				
		

			<div class="col-md-6 text-left" style="padding-bottom:15px;">
			  <label for="attribute">Attribute*:</label> 
			  <div>          
				<input type="text" class="form-control" id="attribute" name="attribute" value="" placeholder="Attribute" required>
			  </div>				
			</div>			
					

			<div class="col-md-6 text-left" style="padding-bottom:15px;">
			  <label for="sub_attribute">Sub-attribute :</label>
			  <div>          
				<input type="text" class="form-control" id="sub_attribute" name="sub_attribute" value="" placeholder="Sub-attribute">
			  </div>				
			</div>	

			

	
			
			<div class="col-md-12 text-left" style="padding-bottom:15px;">
			  <label for="Scrubber-link">Scrubber-link:</label>
			  <div>          
				<input type="url" class="form-control" id="scrubber_link" name="scrubber_link" value="" placeholder="Scrubber-link">
			  </div>				
			</div>	
			

			<div class="col-md-12 text-left" style="padding-bottom:15px;">
			  <label for="cafy_link">Cafy-link:</label>
			  <div>          
				<input type="url" class="form-control" id="cafy_link" name="cafy_link" value="" placeholder="Cafy-link">
			  </div>				
			</div>	
			
			<div class="col-md-6 text-left">        
			  <div>
				<button type="submit" id="add_result_submit" onClick="return validateRIScoreInputForm();" class="btn btn-success">Submit</button>
				<span style="margin: 0px; padding: 0px; background: #ffffff; color: #e74c3c; box-shadow: 0px 0px; border: 0px solid #e74c3c;"><b><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Note: </b> All the fields marked as (*) are mandatory </span>
			  </div>	  
			</div>			

					
				
				</form>	
			{% else %}
				<div><p>There is no test area under your userID. So please <a href='/test-area-management'><i>ADD TEST AREA</i></a> then feed RI Score details.</p></div>			
			{% endif %}
			
			
			
			
						</div>
					</div>
                </div>

                <div class="col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Our Team Members
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="min-height:800px;">
							<table class="table table-bordered">								
								<tbody>
									{% for ri_users in ri_users_list %}									
										<tr><td><a href="http://directory.cisco.com/dir/reports/{{ri_users.user_id}}" target="_blank"><span class="glyphicon glyphicon-user"></span> {{ri_users.name}}</a></td></tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
                </div>	
				
	{% if ri_score_list %}			
	<div class="col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Existing RI Score Data</div>
		<div class="panel-body">
		<form  action="/test-area-remove" method="get">
			<table class="table table-bordered" id='ri-score-list-table'>							
				<thead>								
				<tr>
					<th>Platform</th>
					<th>Version</th>
					<th>Sub Version</th>
					<th>Trash</th>					
				<!--<th>Edit</th>
					<th>Trash</th>
				-->		
				</tr>
				</thead>					
				<tbody>							
				{% for item in ri_score_list %}
				<tr>
					<td>{{item.platform | upper()}}</td>
					<td>{{item.version}}</td>
					<td>{{item.sub_version}}</td>
					<td><a class='btn btn-danger btn-sm' title='Delete' href="ri-score-remove?del_id={{item['_id']}}"><span class='glyphicon glyphicon-trash' ></span></a></td>							
					<!--					
					<td><a class='btn btn-success btn-sm' title='Edit' href="test-area-edit?tid={{item['_id']}}"><span class='glyphicon glyphicon-edit' ></span></a></td>									
					{% if item.used_status == 0:%}
					<td><a class='btn btn-danger btn-sm' title='Delete' href="test-area-remove?tid={{item['_id']}}"><span class='glyphicon glyphicon-trash' ></span></a></td>		
					{% else %}
					<td>&nbsp;</td>					
					{% endif %}	
					-->					
				</tr>						
				{% endfor %}					
			</table>				
		</form>
		</div>
	</div>
	</div>	
	{% endif %}					

 
				
			</div>
  
  
</div>

<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui.js"></script> 

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>	
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready(function() {

	$('#ri-score-list-table').DataTable({  "columns": [
    { "width": "33%" },
    { "width": "33%"},
    { "width": "33%"}
  ]});
} );	
</script>	


{% include 'footer_new.html' %}	